<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/audiobook"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bookies"
        tools:targetApi="31">
        <activity
            android:name=".PdfActivity"
            android:exported="false" />
        <activity
            android:name=".RetrivePDFActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.hospital.hidenavAndStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoTutorial"
            android:exported="false" />
        <activity
            android:name=".AudioActivity.Travel"
            android:exported="false" />
        <activity
            android:name=".AudioActivity.Health"
            android:exported="false" />
        <activity
            android:name=".AudioActivity.Comics"
            android:exported="false" />
        <activity
            android:name=".AudioActivity.knowledge"
            android:exported="false" />
        <activity
            android:name=".AudioActivity.Career"
            android:exported="false" />
        <activity
            android:name=".NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".AudioActivity.Studies"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.hospital.hidenavAndStatusBar" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Categories.Catehgories_section"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>